/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image-theme: url("../images/cover-image-dark.png");
  --nav-color:#FF0070;
  --accent-color:#FF0070;
  --color-title-text: #000028;
  --color-text:#F1B2CE;
  --main-color-title-text:#DB00FF;
  --bg-content: #000028;
} 