/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image-theme: url("../images/cover-image-light.png");
  --accent-color: #ff8dcb;
  --nav-color: #353430;
  --nav-color-hover: rgba(50, 49, 45, 0.4);
  --color-title-text: #353430;
  --color-text: #353430;
  --main-color-title-text: #ffc2e6;
  --bg-content: #fff1f7;
  --header-rec-color: transparent;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image-theme: url("../images/cover-image-light.png");
    --accent-color: #ff8dcb;
    --nav-color: #353430;
    --nav-color-hover: rgba(50, 49, 45, 0.4);
    --color-title-text: #353430;
    --color-text: #353430;
    --main-color-title-text: #ffc2e6;
    --bg-content: #fff1f7;
    --header-rec-color: transparent; /*стили для режима auto, если у кого-нибудь светлая тема*/
  }
}
