/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image-theme: url("../images/cover-image-light.png");
  --accent-color:#FF8DCB;
  --nav-color:#353430;
  --color-title-text: #353430;
  --color-text: #353430;
  --main-color-title-text: #FFC2E6;
  --bg-content: #FFF1F7;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image-theme: url("../images/cover-image-light.png");/*стили для режима auto, если у кого-нибудь светлая тема*/
    --accent-color:#FF8DCB;
    --nav-color:#353430;
    --color-title-text: #353430;
    --color-text: #353430;
    --main-color-title-text: #FFC2E6;
    --bg-content: #FFF1F7;
  }
}