.page {
  margin: 0 auto;
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
  font-style: normal;
  background-color: var(--bg-content);
  background-image: var(--bg-image-theme);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; /* исправленно*/
}

.header__rec {
  position: absolute;
  color: var(--header-rec-color);
  line-height: 25px;
  text-transform: uppercase;
  inset-inline-end: calc(var(--main-padding) + 28px);
  inset-block-start: calc(var(--main-padding) + 2px);
}
.header__rec::after {
  content: "";
  position: absolute;
  margin: -5px -20px 0 0;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--header-rec-color);
  background-color: var(--header-rec-color);
  inline-size: 10px;
  block-size: 10px;
  inset-inline-end: 0;
  inset-block-start: 50%;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-inline-end: 1px solid var(--nav-color);
  border-block-start: 1px solid var(--nav-color);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-end: var(--main-padding);
  inset-block-start: var(--main-padding);
}
.decorated-zone::after {
  content: "";
  position: absolute;
  border-inline-start: 1px solid var(--nav-color);
  border-block-end: 1px solid var(--nav-color);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-start: var(--main-padding);
  inset-block-end: var(--main-padding);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr; /* сделали гридом */
  padding: var(--main-padding); /* будем менять в адаптиве */
  block-size: 100vh;
  min-block-size: 668px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  /* отступ между кнопками */
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.header__theme-menu-button {
  border: 0;
  padding: 0px 13px;
  color: var(--nav-color);
  line-height: var(--nav-line-height);
  text-transform: lowercase;
  background-color: transparent;
  block-size: 26px;
}
.header__theme-menu-button_active {
  /*Рамка появлятся в нажатом состоянии*/
  outline: 1px solid var(--nav-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--nav-color-hover);
}
.header__theme-menu-button:focus {
  outline: 0;
}
.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--nav-color);
}

.header__description {
  justify-self: end;
  align-self: center;
  inline-size: 100%;
}
.article {
  display: grid;
  gap: 10px;
}

.article__title {
  color: var(--color-title-text);
  font-weight: 400;
  font-size: var(--main-font-size);
  background-color: var(--accent-color);
}
.article__text_link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.article__text_link:hover {
  border-bottom: 1px solid var(--color-text);
}
.article__text_link:focus {
  outline: 0;
}

.article__text_link:focus-visible {
  outline: 1px solid var(--color-text);
}

.title-decor {
  color: var(--color-title-text);
  font-weight: var(--title-font-weight);
  font-size: var(--main-font-size);
  /* класс для стилизации всех загаловков */
  background-color: var(--accent-color);
}

.main-title-decor {
  color: var(--main-color-title-text);
  /* класс для стилизации главного загаловка */
  font-size: var(--title-font-size);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.content {
  display: grid;
  gap: 50px; /* будем менять в адаптиве */
  padding: var(--block-padding) var(--main-padding); /* будем менять в адаптиве */
  line-height: var(--main-line-height); /* исправленно*/
}

.accent-title {
  color: var(--accent-title-color);
  font-weight: var(--title-font-weight);
  font-size: var(--main-font-size);
}

.article__text {
  color: var(--color-text);
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
}

.section__list {
  display: grid;
  gap: 20px;
}

.section {
  /* будем менять в адаптиве */
  display: grid;
  gap: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px; /* будем менять в адаптиве */
}

.gallery__image {
  display: block;
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--main-padding);
  block-size: 100vh;
  min-block-size: 668px; /* исправленно*/
}

.footer__title.main-title-decor {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.section__title-additional {
  display: grid;
  gap: 20px;
}

@media (width > 700px) {
  /* исправленно*/
  /* общий адаптив */
  .content {
    gap: 80px;
  }
  /* адаптив шапки */
  .header {
    grid-template-columns: 1fr 1fr;
    min-block-size: 668px; /* исправленно*/
  }
  .header__title {
    grid-column: span 2;
    margin-inline-start: -20px;
  }
  .header__description {
    grid-column: 2;
  }
  .header__theme-menu {
    grid-column: 2;
  }
  /* section 1 */
  .section.problem {
    grid-template-columns: 1fr 2fr;
  }
  /* section 2 */
  .section.causes {
    grid-template-columns: 1fr 2fr;
  }
  .section__title-causes {
    grid-column: 1;
  }
  .section__list.causes {
    grid-column: span 2;
  }
  /* section 3 */
  .section.solution {
    grid-template-columns: 1fr 2fr;
  }
  /* section 4 galery */
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content) repeat(2, 1fr);
    gap: 20px;
  }
  .gallery__title {
    grid-column: span 3;
    grid-row: 1;
  }

  .gallery__item:nth-child(2) {
    grid-column: span 2;
    grid-row: 2;
  }
  .gallery__item:nth-child(3) {
    grid-column: 3;
    grid-row: span 2;
  }
  .gallery__item:nth-child(4) {
    grid-column: 1;
    grid-row: span 3;
  }
  .gallery__item:nth-child(5) {
    grid-column: 2;
    grid-row: 3;
  }
  .gallery__item:nth-child(6) {
    grid-column: span 2;
    grid-row: span 2;
  }
  /* footer */
  .footer {
    min-block-size: 668px; /* исправленно*/
  }
}

@media (width > 1000px) {
  /* адаптив шапки */
  .header {
    min-block-size: 668px; /* исправленно*/
  }
  .header__theme-menu {
    grid-column: span 2;
    justify-self: center;
    align-self: flex-start;
  }
  .header__theme-menu-list {
    flex-direction: row;
  }
  /* section 1 */
  .section.problem {
    grid-template-columns: 1fr 2.06fr; /* исправленно*/
  }
  /* section 2 */
  .section__list.causes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  /* section 3 */
  .section.solution {
    grid-template-columns: 1fr 2.06fr; /* исправленно*/
  }
  /* footer */
  .footer {
    min-block-size: 668px; /* исправленно*/
  } /* исправленно*/
}
